body {
    margin: 0;
    background: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    font-size: 1.5vw;
    margin-left: 90px; 
    margin-right: 90px;
}

.container{
    text-align: center;
}


#photo{ 
    margin-right: 90px;
    margin-bottom: 30px;
    width: 50%;
    max-width: 400px; 
    max-height: 400px;
    float: left;
}

#resume{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

header {
    background: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

h1 {
    font-family: Georgia, serif;
    font-size: medium;
}

h2 {
    font-family: Georgia, serif;
    font-size: xx-large;
}

h3 {
    font-family: Georgia, serif;
    font-size: x-large;
}

nav {
    margin: auto;
    width: 50%;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
}

nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: rgb(177, 177, 177);
}


/* Logos */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-github {
      background: black;
      color: white;
  }
  
